
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Makale</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">

</head>
<body>
	<div class='container'>
		<div id='content' class='row-fluid'>
			<div class='span2 sidebar'>
				<h3>Left Sidebar</h3>
				<ul class="nav nav-tabs nav-stacked">
					<li><a href='#'>Another Link 1</a></li>
					<li><a href='#'>Another Link 2</a></li>
					<li><a href='#'>Another Link 3</a></li>
				</ul>
			</div>
			<div class='span8 main'>
				<h2>Regression Model</h2>
				<img src="https://i.pinimg.com/originals/6a/94/47/6a9447a7547393d6fd67c682ade62ecd.png " alt="">
				
				<p>

					Regression analysis is a set of statistical methods used for the estimation of relationships between a dependent variable and one or more independent variables.
				<p>

				<p>
					Regression analysis includes several variations, such as linear, multiple linear, and nonlinear. The most common models are simple linear and multiple linear. Nonlinear regression analysis is commonly used for more complicated data sets in which the dependent and independent variables show a nonlinear relationship.

					Regression analysis offers numerous applications in various disciplines, including finance.<br />								<h1>Regression analysis in finance</h1>
					Regression analysis has several applications in finance. For example, the statistical method is fundamental to the Capital Asset Pricing Model (CAPM). Essentially, the CAPM equation is a model that determines the relationship between the expected return of an asset and the market risk premium.

					The analysis is also used to forecast the returns of securities, based on different factors, or to forecast the performance of a business. Learn more forecasting methods in CFI’s Budgeting and Forecasting Course!
				</p>
			</div>
			<div class='span2 sidebar'>
				<h3>Right Sidebar</h3>
				<ul class="nav nav-tabs nav-stacked">
					<li><a href='#'>Another Link 1</a></li>
					<li><a href='#'>Another Link 2</a></li>
					<li><a href='#'>Another Link 3</a></li>
				</ul>
			</div>
		</div>
	</div>



		<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</body>
</html>
