@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link href="~/css/Login.css" rel="stylesheet" />

<div class="wrapper fadeInDown">
	<div style="margin-top:400px" id="formContent">
		<p style="color:forestgreen">
			<br />
			<br />
			Mail verification successful
		</p>	
	</div>
</div>
