
@{
	Layout = null;
}

<link href="~/css/Login.css" rel="stylesheet" />

<div class="wrapper fadeInDown">
	<div style="margin-top:400px" id="formContent">
		<p style="color:forestgreen">
			<br />
			<br />
			Aynı mail ile iki kere kayıt olamazsın.
		</p>
	</div>
</div>
